
html, body {
    height: 100%;
    width: 100%;
    display: block;
    background: rgb(210, 211, 213);
}

#title-banner {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

#widget-container {
    display: block;
    width: 840px;
    height: 350px;
    margin: 0 auto;
}

#control-widget-container {
    display: block;
    margin: 30px;
}

.widget {
    display: block;
    width: 100%;
    width: 160px;
    height: 160px;
    float: left;
    border: 1px solid rgb(66, 66, 66);
    margin-top: 5px;
    margin-left: 5px;
}

.square {
    height: 10px;
    width: 10px;
    display: block;
    float: left;
}

.control-widget {
    display: block;
    width: 100%;
    width: 195px;
    height: 195px;
    margin: 0 auto;
}

#control-banner {
    text-align: center;
    font-family: sans-serif;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

#filter-btn {
    height: 40px;
    width: 140px;
    color: white;
    background: darkgray;
    font-size: 16px;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

#btn-container {
    margin-bottom: 20px;
}

.instruction-text {
    font-family: sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #474747;
    width: 220px;
    height: 220px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .disabled {
      display: none;
  }